src/lib/properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/ADK/src/lib/properties.xsd

This file is a part of ADK library.
Copyright (c) 2012-2015, Artyom Lebedev <artyom.lebedev@gmail.com>
All rights reserved.
See LICENSE file for copyright details.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.ast.com/adk/properties" 
        xmlns:adk ="http://www.ast.com/adk/properties" 
        elementFormDefault="qualified">

    <element name="properties">
        <annotation>
            <documentation>
                All items and categories should be described here
            </documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="title" minOccurs="0" type="string">
	                <annotation>
			            <documentation>
			                Optional title for the whole properties sheet
			            </documentation>
	                </annotation>
                </element>
                
                <element name="description" minOccurs="0" type="string">
                    <annotation>
                        <documentation>
                            Optional description for the whole properties sheet
                        </documentation>
                    </annotation>
                </element>
                
                <element name="sorting" type="adk:SortingModeType" minOccurs="0" >
                    <annotation>
                        <documentation>
                            Sorting mode for the items in the root category.
                        </documentation>
                    </annotation>
                </element>
                
	            <sequence minOccurs="0" maxOccurs="unbounded">
	                <group ref="adk:ItemOrCategory" />
	            </sequence>
            </sequence>
        </complexType>
    </element>
    
    <group name="ItemOrCategory" id="ItemOrCategory">
        <choice>
            <element name="item" type="adk:ItemType" />
            <element name="category" type="adk:CategoryType" />
        </choice>
    </group>
    
    <complexType name="ItemType" mixed="true">
        <annotation>
            <documentation>
                Describes particular properties item
            </documentation>
        </annotation>
        
        <sequence>
            <element name="description" minOccurs="0" type="string" >
                <annotation>
                    <documentation>
                        Human readable description of the item
                    </documentation>
                </annotation>
            </element>
            <element name="value" minOccurs="0" type="string" >
                <annotation>
                    <documentation>
                        Item value if not specified text content
                    </documentation>
                </annotation>
            </element>
        </sequence>
        
        <attribute name="name" type="string" use="required">
            <annotation>
                <documentation>
                    Internal name for the item. It is used in the code as item
                    path component. Also it may be used as display name if such
                    is not provided.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="dispName" type="string" use="optional">
            <annotation>
                <documentation>
                    Human readable display name. Internal name is used if the
                    display name is not provided.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="type" type="adk:ItemTypeType" use="required">
            <annotation>
                <documentation>
                    Item content type
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="units" type="string" use="optional">
            <annotation>
                <documentation>
                    Value units. Displayed right after the value.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="value" type="string" use="optional">
            <annotation>
                <documentation>
                    Item value. It is either taken from element text content,
                    child "value" tag or this attribute, whatever is specified.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="minValue" type="string" use="optional">
            <annotation>
                <documentation>
                    Optional minimal value limit. Applicable for "integer"
                    and "float" types only. Value "unbounded" (default) 
                    indicates no limit.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="maxValue" type="string" use="optional">
            <annotation>
                <documentation>
                    Optional maximal value limit. Applicable for "integer"
                    and "float" types only. Value "unbounded" (default) 
                    indicates no limit.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="maxLen" type="string" use="optional">
            <annotation>
                <documentation>
                    Optional maximal length limit. Applicable for "string"
                    type only. Value "unbounded" (default) indicates no limit.
                </documentation>
            </annotation>
        </attribute>
        
    </complexType>
    
    <complexType name="CategoryType">
        <annotation>
            <documentation>
                Category may contain other categories or items
            </documentation>
        </annotation>
        
        <sequence>
            <element name="description" minOccurs="0">
                <annotation>
                    <documentation>
                        Human readable description of the category
                    </documentation>
                </annotation>
            </element>
            <element name="sorting" type="adk:SortingModeType" minOccurs="0" >
                <annotation>
                    <documentation>
                        Sorting mode for the items in the category.
                    </documentation>
                </annotation>
            </element>
            <group ref="adk:ItemOrCategory" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        
        <attribute name="name" type="string" use="required">
            <annotation>
                <documentation>
                    Internal name for the category. It is used in the code as 
                    path component. Also it may be used as display name if such
                    is not provided.
                </documentation>
            </annotation>
        </attribute>
        
        <attribute name="dispName" type="string" use="optional">
            <annotation>
                <documentation>
                    Human readable display name. Internal name is used if the
                    display name is not provided.
                </documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <simpleType name="ItemTypeType">
        <annotation>
            <documentation>
                Supported element types
            </documentation>
        </annotation>
        <restriction base="string">
        
            <enumeration value="integer">
	            <annotation>
		            <documentation>
		                Generic numerical integer type. Represented as maximal 
		                size integer value.
		            </documentation>
	            </annotation>
            </enumeration>
            
            <enumeration value="float">
                <annotation>
                    <documentation>
                        Generic numerical floating point type. Represented as
                        double type.
                    </documentation>
                </annotation>
            </enumeration>
            
            <enumeration value="boolean">
                <annotation>
                    <documentation>
                        Boolean value. Content should be "true"/"false"/"yes"/"no" string.
                    </documentation>
                </annotation>
            </enumeration>
            
            <enumeration value="string">
                <annotation>
                    <documentation>
                        String value. Content can be any arbitrary string.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    
    <simpleType name="SortingModeType">
        <annotation>
            <documentation>
                Items sorting mode. Inherited from parent category if not
                specified. For root category default is ascending order.
            </documentation>
        </annotation>
        <restriction base="string">
        
            <enumeration value="none">
                <annotation>
                    <documentation>
                        Items are not sorted and displayed in the order they are
                        listed.
                    </documentation>
                </annotation>
            </enumeration>
            
            <enumeration value="asc">
                <annotation>
                    <documentation>
                        Items sorted by displayed name in ascending order.
                    </documentation>
                </annotation>
            </enumeration>
            
            <enumeration value="desc">
                <annotation>
                    <documentation>
                        Items sorted by displayed name in descending order.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
</schema>
